@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 15px 0 15px 0;
  /* font-family: "Roboto"; */
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.superHero {
  width: 95%;
  height: 100%;
  /* border-width: 15px 0 0 15px; */
  /* border-top-left-radius: 10px; */
  background: linear-gradient(to right, white 15px, transparent 15px) 0 0,
    /* linear-gradient(to right, white 4px, transparent 4px) 0 100%, */
      /* linear-gradient(to left, white 4px, transparent 4px) 100% 0, */
      linear-gradient(to left, white 15px, transparent 15px) 100% 100%,
    linear-gradient(to bottom, rgb(244, 169, 169) 15px, transparent 15px) 0 0,
    /* linear-gradient(to bottom, white 4px, transparent 4px) 100% 0; */
      /* linear-gradient(to top, white 4px, transparent 4px) 0 100%; */
      linear-gradient(to top, rgb(244, 169, 169) 15px, transparent 15px) 100%
      100%;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  border-radius: 10px;
}

.nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 20px;
  align-items: center;
}

.navIcons {
  display: flex;
}

.iconLink {
  padding: 10px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.heroChild {
  width: 100%;
  height: 70%;
  display: flex;
  padding-top: 20px;
}

.heroTextDiv {
  padding-left: 100px;
  width: 60%;
}

.heroTextDesc {
  width: 100%;
  border-left-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgb(244, 169, 169),
      rgb(254, 134, 134)
    )
    1 100%;
  padding-left: 15px;
}

.heroLinks {
  width: 40%;
  position: relative;
}

.heroLinksChild {
  position: absolute;
  top: 50px;
  left: 200px;
}

.heroLinksChildLinkList {
  width: 150px;
  height: 220px;
  padding: 20px 0 0 15px;
  background: 
  /* linear-gradient(to right, white 2px, transparent 2px) 0 0, */
    /* linear-gradient(to right, white 4px, transparent 4px) 0 100%, */
      /* linear-gradient(to left, white 4px, transparent 4px) 100% 0, */ linear-gradient(
        to left,
        white 4px,
        transparent 4px
      )
      100% 100%,
    /* linear-gradient(to bottom, rgb(244, 169, 169) 2px, transparent 2px) 0 0, */
      /* linear-gradient(to bottom, white 4px, transparent 4px) 100% 0; */
      /* linear-gradient(to top, white 4px, transparent 4px) 0 100%; */
      linear-gradient(to top, rgb(244, 169, 169) 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  border-radius: 2px;
}
